<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="row">
    <div class="offset-md-1 col-md-10">
        <h1><%=title %></h1>
        <br>
        <table class="table table-bordered table-striped table-hover">
            <!--Header Row-->
            <tr>
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Author</th>
                <th class="text-center col-1">Published</th>
                <th class="col-6">Description</th>
                <th class="text-center">Price</th>
                </tr>
                <% for(let count=0; count<BookList.length; count ++){%>
                    <tr>
                        <td class="text-center"><%=BookList[count].name%></td>
                        <td class="text-center"><%=BookList[count].author%></td>
                        <td class="text-center"><%=BookList[count].published%></td>
                        <td class="text-center"><%=BookList[count].description%></td>
                        <td class="text-center"><%=BookList[count].Price%></td>
                        </tr>
                        <%}%>
            </table>
        </div>
    </div>
  </main>
  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
  
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>




