<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="row">
    <div class="col-md-offset-3 col md-8">
        <h1><% title %></h1>
        <br>
        <table class="table.table-bordered table-striped table-hover">
            <!--Header Row-->
            <tr>
                <th class="text-content">Name</th>
                <th class="text-content">Author</th>
                <th class="text-content">Published</th>
                <th class="text-content">Description</th>
                <th class="text-content">Price</th>
                </tr>
                <% for(let count=0; count<BookList.length; count ++){%>
                    <tr>
                        <>
                        </tr>
            </table>
        </div>
    </div>
  </main>
  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
  
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>




