<%-include partials/header.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> Page</h1>
    </div>
  </main>
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
  <!--<div class="container-fluid">-->
    <h1 class="display-6 navbar-text">&copy;2023 All rights reserved</h1>
    <!--<a class="navbar-brand" href="#">Fixed bottom</a>-->
  </div>
</nav>
    </footer>
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
   <%-include partials/footer.ejs%>




