<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">&nbsp;<%= title %> Me</h1>
    <div class="container">
      <div class = "row">
      <div class = "col-4">
      <img src="Assets/images/Photo.jpeg" alt="Photo" class="photo-image">
      
      <p><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sujan Chaudhari</b></i></p>
      </div>
    <div class="col-8 about me" style="text-align: left;">
      <p>&#x2022; An aspiring and energetic passionate software engineering student willing to learn 
        everything that it takes to be a successful developer. I want to be a full stack developer and further pursue my dream.
      </p>

      <a href="Assets/pdf/Sujan.pdf" download="Sujan.pdf">My Resume</a>
    </div>
    </div>
    </div>
  </div>
  </main>
  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
   
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>