<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->

    <main class="container">
      <div class="jumbotron">
        <div class="d-flex flex-md-row flex-column mt-5 justify-content-center">
          <div class="flex-grow-1 w-md-100" style="max-width: 560px">
            <h1 class="display-4 text-center">Welcome to the <%= title %> Page</h1>
            <p class="display-8">An aspiring and energetic passionate software engineering student willing to learn 
              everything that it takes to be a successful developer. I want to be a full stack developer and further pursue my dream. <%= title %> Page</p>


            <div> <a href="/about">To know about me</a>
            </div>
            <div> <a href="/projects">To know more about the projects</a> </div>
          </div>
        </div>
    </main>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>